.c-flex-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 4;
  width: 65%;
  padding-top: 10px;
  padding-left: 20px;
}

.c-flex-nav > li {
  width: 140px;
  height: 100px;
}

.c-flex-nav a {
  color: #000;
  display: block;
  text-align: center;
  width: 140px;
}

.c-flex-nav__link {
  color: #000;
  font-size: 18px;
  display: block;
  text-align: center;
  padding: 5px 0;
}

.c-flex-nav__link:hover {
  color: #fff;
  padding: 5px 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#4197b6), to(#63de9f));
  background: linear-gradient(to bottom right, #4197b6, #63de9f);
  border-radius: 20px;
}

.c-flex-nav__list {
  line-height: 1.5em;
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
  width: 175px;
  margin-left: auto;
}

.c-flex-nav__mouseover li {
  height: 0;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.c-flex-nav__mouseover li:hover {
  height: 15px;
  line-height: 15px;
  overflow: visible;
  margin-top: 20px;
  color: #fff;
}

.c-flex-nav__mouseover a {
  font-size: 14px;
}

.c-flex-nav__mouseover a:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#4197b6), to(#63de9f));
  background: linear-gradient(to bottom right, #4197b6, #63de9f);
  border-radius: 20px;
  color: #fff;
  padding: 5px;
}

.c-flex-nav--border {
  border: 2px solid #000;
  padding: 10px;
}

.c-flex-nav li:hover > ul > li {
  height: 15px;
  line-height: 15px;
  overflow: visible;
  margin-top: 20px;
  color: #fff;
}

.c-flex__functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  margin-top: 70px;
  position: relative;
}

.c-flex__functions-list1, .c-flex__functions-list2, .c-flex__functions-list3, .c-flex__functions-list4, .c-flex__functions-list5, .c-flex__functions-list6, .c-flex__functions-list7, .c-flex__functions-list8, .c-flex__functions-list9, .c-flex__functions-list10, .c-flex__functions-list11, .c-flex__functions-list12, .c-flex__functions-list13, .c-flex__functions-list14, .c-flex__functions-list15, .c-flex__functions-list16 {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 20px 0px;
  width: 200px;
  margin-bottom: 70px;
}

.c-flex__functions-title {
  margin-top: 20px;
  text-align: center;
}

.c-flex__functions-img {
  width: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.c-flex__functions-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-flex__functions-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.p-chart-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=c-flex.css.map */