.c-modal1 {
  position: absolute;
  top: -30px;
  left: -14px;
  padding: 80px 76px 56px;
  z-index: -1;
  display: none;
}

.c-modal1__title {
  font-size: 17px;
  margin-bottom: 20px;
  width: 90%;
  line-height: 2em;
}

.c-modal1__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-modal1__block-top {
  margin-bottom: 10px;
}

.c-modal1__block p {
  border: 2px solid #4197c7;
  display: inline-block;
  padding: 10px;
}

.c-modal1__block-title {
  border: 2px solid #4197c7;
  background-color: #4197c7;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  line-height: 1.5em;
}

.c-modal1__block-title--normal {
  font-weight: normal;
}

.c-modal1__block-title span:first-child {
  font-size: 10px;
}

.c-modal2 {
  position: absolute;
  top: -30px;
  left: -14px;
  padding: 80px 76px 56px;
  display: none;
}

.c-modal2__title {
  font-size: 17px;
  margin-bottom: 20px;
  width: 90%;
  line-height: 2em;
}

.c-modal2__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-modal2__block-top {
  margin-bottom: 10px;
}

.c-modal2__block p {
  border: 2px solid #4197c7;
  display: inline-block;
  padding: 10px;
  width: 390px;
}

.c-modal2__block-title {
  border: 2px solid #4197c7;
  background-color: #4197c7;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  line-height: 1.5em;
}

.c-modal2__block-title--normal {
  font-weight: normal;
}

.c-modal2__block-title span:first-child {
  font-size: 10px;
}

.c-modal3 {
  position: absolute;
  top: -30px;
  left: -14px;
  padding: 80px 76px 56px;
  width: 65%;
  display: none;
}

.c-modal3__title {
  font-size: 17px;
  margin-bottom: 20px;
  width: 90%;
  line-height: 2em;
}

.c-modal3__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-modal3__block-top {
  margin-bottom: 10px;
}

.c-modal3__block p {
  border: 2px solid #4197c7;
  display: inline-block;
  padding: 10px;
  width: 390px;
}

.c-modal3__block-title {
  border: 2px solid #4197c7;
  background-color: #4197c7;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  line-height: 1.5em;
}

.c-modal3__block-title--normal {
  font-weight: normal;
}

.c-modal3__block-title span:first-child {
  font-size: 10px;
}

.c-modal4 {
  position: absolute;
  top: -30px;
  left: -14px;
  padding: 80px 76px 56px;
  display: none;
  width: 67%;
}

.c-modal4__title {
  font-size: 17px;
  margin-bottom: 20px;
  width: 71%;
  line-height: 2em;
}

.c-modal4__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-modal4__block-top {
  margin-bottom: 10px;
}

.c-modal4__block p {
  border: 2px solid #4197c7;
  display: inline-block;
  padding: 10px;
  width: 390px;
}

.c-modal4__block-title {
  border: 2px solid #4197c7;
  background-color: #4197c7;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  line-height: 1.5em;
}

.c-modal4__block-title--normal {
  font-weight: normal;
}

.c-modal4__block-title span:first-child {
  font-size: 10px;
}

.c-modal5 {
  position: absolute;
  top: -30px;
  left: -14px;
  padding: 80px 76px 56px;
  display: none;
  width: 67%;
}

.c-modal5__title {
  font-size: 17px;
  margin-bottom: 20px;
  width: 71%;
  line-height: 2em;
}

.c-modal5__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-modal5__block-top {
  margin-bottom: 10px;
}

.c-modal5__block p {
  border: 2px solid #4197c7;
  display: inline-block;
  padding: 10px;
  width: 390px;
}

.c-modal5__block-title {
  border: 2px solid #4197c7;
  background-color: #4197c7;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  line-height: 1.5em;
}

.c-modal5__block-title--normal {
  font-weight: normal;
}

.c-modal5__block-title span:first-child {
  font-size: 10px;
}

.c-modal6 {
  position: absolute;
  top: -30px;
  right: 500px;
  padding: 80px 76px 56px;
  display: none;
  width: 130%;
}

.c-modal6__title {
  font-size: 17px;
  margin-bottom: 20px;
  width: 71%;
  line-height: 2em;
}

.c-modal6__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-modal6__block-top {
  margin-bottom: 10px;
}

.c-modal6__block p {
  border: 2px solid #4197c7;
  display: inline-block;
  padding: 10px;
  width: 390px;
}

.c-modal6__block-title {
  border: 2px solid #4197c7;
  background-color: #4197c7;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  line-height: 1.5em;
}

.c-modal6__block-title--normal {
  font-weight: normal;
}

.c-modal6__block-title span:first-child {
  font-size: 10px;
}

.c-modal7 {
  position: absolute;
  top: -30px;
  right: 500px;
  padding: 80px 76px 56px;
  display: none;
  width: 117%;
}

.c-modal7__title {
  font-size: 17px;
  margin-bottom: 20px;
  width: 71%;
  line-height: 2em;
}

.c-modal7__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-modal7__block-top {
  margin-bottom: 10px;
}

.c-modal7__block p {
  border: 2px solid #4197c7;
  display: inline-block;
  padding: 10px;
  width: 390px;
}

.c-modal7__block-title {
  border: 2px solid #4197c7;
  background-color: #4197c7;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  line-height: 1.5em;
}

.c-modal7__block-title--normal {
  font-weight: normal;
}

.c-modal7__block-title span:first-child {
  font-size: 10px;
}
/*# sourceMappingURL=c-modal.css.map */