.c-arrow1 {
    position:relative;
    top:130px;
    left:5%;
    display: block;
    // z-index:2;
    &__circle{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color:#cdcbcb;
        position:absolute;
        top:0;
        left:0;
    }
    &__text{
        position:absolute;
        top:19px;
        left:19px;
        font-size: 17px;
    }
    &__line{
        width: 8px;
        height: 382px;
        content: '';
        background-color: #cdcbcb;
        position: absolute;
        top:48px;
        left:22px;
    }
    &__chevron{
        border-right: 8px solid #cdcbcb;
        border-bottom: 8px solid #cdcbcb;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 100px;
        transform: rotate(45deg);
        position:absolute;
        top:409px;
        left:-87px;
    }  
}
.c-arrow2 {
    position:relative;
    top:130px;
    left:5%;
    display: block;
    // z-index:2;
    // &:hover{
    //     z-index:4;
    // }
    &__circle{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color:#cdcbcb;
        position:absolute;
        top:0;
        left:0;
    }
    &__text{
        position:absolute;
        top:19px;
        left:19px;
        font-size: 17px;
    }
    &__line{
        width: 8px;
        height: 382px;
        content: '';
        background-color: #cdcbcb;
        position: absolute;
        top:48px;
        left:22px;
    }
    &__chevron{
        border-right: 8px solid #cdcbcb;
        border-bottom: 8px solid #cdcbcb;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 100px;
        transform: rotate(45deg);
        position:absolute;
        top:345px;
        left:-87px;
    }  
}
.c-arrow3 {
    position:relative;
    top:130px;
    left:5%;
    display: block;
    &__circle{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color:#cdcbcb;
        position:absolute;
        top:0;
        left:0;
    }
    &__text{
        position:absolute;
        top:19px;
        left:19px;
        font-size: 17px;
    }
    &__line{
        width: 8px;
        height: 382px;
        content: '';
        background-color: #cdcbcb;
        position: absolute;
        top:48px;
        left:22px;
    }
    &__chevron{
        border-right: 8px solid #cdcbcb;
        border-bottom: 8px solid #cdcbcb;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 100px;
        transform: rotate(45deg);
        position:absolute;
        top:409px;
        left:-87px;
    }  
}
.c-arrow4 {
    position:relative;
    top:130px;
    left:5%;
    display: block;
    &__circle{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color:#cdcbcb;
        position:absolute;
        top:0;
        left:0;
    }
    &__text{
        position:absolute;
        top:19px;
        left:19px;
        font-size: 17px;
    }
    &__line{
        width: 8px;
        height: 382px;
        content: '';
        background-color: #cdcbcb;
        position: absolute;
        top:48px;
        left:22px;
    }
    &__chevron{
        border-right: 8px solid #cdcbcb;
        border-bottom: 8px solid #cdcbcb;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 100px;
        transform: rotate(45deg);
        position:absolute;
        top:409px;
        left:-87px;
    }  
}
.c-arrow5 {
    position:relative;
    top:130px;
    left:5%;
    display: block;
    &__circle{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color:#cdcbcb;
        position:absolute;
        top:0;
        left:0;
    }
    &__text{
        position:absolute;
        top:19px;
        left:19px;
        font-size: 17px;
    }
    &__line{
        width: 8px;
        height: 382px;
        content: '';
        background-color: #cdcbcb;
        position: absolute;
        top:48px;
        left:22px;
    }
    &__chevron{
        border-right: 8px solid #cdcbcb;
        border-bottom: 8px solid #cdcbcb;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 100px;
        transform: rotate(45deg);
        position:absolute;
        top:409px;
        left:-87px;
    }  
}
.c-arrow6 {
    position:relative;
    top:130px;
    left:5%;
    display: block;
    &__circle{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color:#cdcbcb;
        position:absolute;
        top:0;
        left:0;
    }
    &__text{
        position:absolute;
        top:19px;
        left:19px;
        font-size: 17px;
    }
    &__line{
        width: 8px;
        height: 382px;
        content: '';
        background-color: #cdcbcb;
        position: absolute;
        top:48px;
        left:22px;
    }
    &__chevron{
        border-right: 8px solid #cdcbcb;
        border-bottom: 8px solid #cdcbcb;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 100px;
        transform: rotate(45deg);
        position:absolute;
        top:409px;
        left:-87px;
    }  
}
.c-arrow7 {
    position:relative;
    top:130px;
    left:5%;
    display: block;
    &__circle{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color:#cdcbcb;
        position:absolute;
        top:0;
        left:0;
    }
    &__text{
        position:absolute;
        top:19px;
        left:19px;
        font-size: 17px;
    }
    &__line{
        width: 8px;
        height: 382px;
        content: '';
        background-color: #cdcbcb;
        position: absolute;
        top:48px;
        left:22px;
    }
    &__chevron{
        border-right: 8px solid #cdcbcb;
        border-bottom: 8px solid #cdcbcb;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 100px;
        transform: rotate(45deg);
        position:absolute;
        top:948px;
        left:-87px;
    }  
}

