.c-flex-nav{
    display: flex;
    align-items:center;
    position:fixed;
    z-index:4;
    width: 65%;
    padding-top: 10px;
    padding-left: 20px;
    @media screen and (max-width:767px){
        flex-direction:column;
        padding-left: 0;

    }
    &>li{
        width: 140px;
        height: 100px;
        @media screen and (max-width:1023px){
            width: 20%;
        }
        @media screen and (max-width:767px){
            width: 208px;
            margin-left:auto;
            margin-right:auto;
        }
    }
    &__link{
        color:#000;
        font-size: 18px;
        display: block;
        text-align: center;
        padding: 5px 0;
        @media screen and (max-width:767px){
            font-size: 18px!important;
            color:#fff!important;
            background:none!important;
            padding: 0!important;
        }
        &:hover{
            color:#fff;
            padding: 5px 0;
            background:linear-gradient(to bottom right,#4197b6 ,#63de9f);
            border-radius: 20px;
        }
    }
    &__list{
        line-height: 1.5em;
        font-size: 16px;
        color: #fff;
        margin-top: 20px;
        width:175px;
        margin-left:auto;
    }
    &__mouseover{
        padding-bottom: 30px;
        li{
            height: 0;
            overflow: hidden;
            transition: .5s;
            // padding-bottom: 30px;
            &:hover{
                height: 15px;
                line-height:15px;
                overflow: visible;
                margin-top: 20px;
                color:#fff;
            }
        }
        a{
            font-size: 14px;
            @media screen and (max-width:767px){
                font-size: 18px;
            }
            &:hover{
                background:linear-gradient(to bottom right,#4197b6 ,#63de9f);
                border-radius: 20px;
                color:#fff;
                padding: 5px;
            }
        }
    }
    &--border{
        border:2px solid #000;
        padding: 10px;
    }
    a{
        color: #000;
        display: block;
        text-align: center;
        width: 140px;
        @media screen and (max-width:1023px){
            width: 110px;
        }
        @media screen and (max-width:767px){
            width: 208px;
        }
    }
}
.c-flex-nav li:hover > ul > li {
    height: 15px;
    line-height:15px;
    overflow: visible;
    margin-top: 20px;
    color:#fff;
}
.c-flex{
    &__functions{
        display: flex;
        flex-wrap:wrap;
        justify-content:space-around;
        width: 40%;
        margin-top: 70px;
        position:relative;
    }
    &__functions-list1,&__functions-list2,&__functions-list3,
    &__functions-list4,&__functions-list5,&__functions-list6,
    &__functions-list7,&__functions-list8,&__functions-list9,
    &__functions-list10,&__functions-list11,&__functions-list12,
    &__functions-list13,&__functions-list14,&__functions-list15,
    &__functions-list16{
        border: 1px solid #000;
        border-radius: 20px;
        padding: 20px 0px;
        // width: 270px;
        width: 200px;
        margin-bottom: 70px;
    }
    &__functions-title{
        margin-top: 20px;
        text-align: center;
    }
    &__functions-img{
        // width: 200px;
        width: 110px;
        display: block;
        margin-left:auto;
        margin-right:auto;
    }
    &__functions-modal{
        display: flex;
    }
    &__functions-field{
        display: flex;
        justify-content:space-around;
    }
}
.p-chart-block{
    display: flex;
    flex-wrap:wrap;
}
