.u-chevron-line1{
    height: 318px;
}
.u-chevron-line2{
    height: 362px;
}
.u-chevron-line3{
    height: 651px;
}
.u-chevron-line4{
    height: 330px;
}
.u-chevron-line5{
    height: 230px;
}
.u-chevron1{
    top:389px;
}
.u-chevron2{
    top:677px;
}
.u-chevron3{
    top:357px;
}
.u-chevron4{
    top:257px;
}

